.wrapper {
    text-align : center;
    padding: 2em;
}

.percentValue {
    margin-top: 0.4em;
    font-size: 3em;
    font-weight: 700;
}

.label {
   margin-top: 0.6em;
   font-size: 1.3em;
   line-height: 1.3em;
   font-weight: 700;
}